<div class="portals share-wrap">
	<h3 class="title">portals</h3>
	<div class="contents">
		<ul class="scroll-wrap">


			<li class="component-radio">
				<input type="radio" name="chkimg" id="chkimg_0" />
				<label for="chkimg_0">
					<img src="images/dummy.jpg" />
					<i class="glyphicon glyphicon-ok"></i>
					<span class="dim"></span>
				</label>
			</li>
			<li class="component-radio">
				<input type="radio" name="chkimg" id="chkimg_1" />
				<label for="chkimg_1">
					<img src="images/dummy.jpg" />
					<i class="glyphicon glyphicon-ok"></i>
					<span class="dim"></span>
				</label>
			</li>
			<li class="component-radio">
				<input type="radio" name="chkimg" id="chkimg_2" />
				<label for="chkimg_2">
					<img src="images/dummy.jpg" />
					<i class="glyphicon glyphicon-ok"></i>
					<span class="dim"></span>
				</label>
			</li>
			<li class="component-radio">
				<input type="radio" name="chkimg" id="chkimg_3" />
				<label for="chkimg_3">
					<img src="images/dummy.jpg" />
					<i class="glyphicon glyphicon-ok"></i>
					<span class="dim"></span>
				</label>
			</li>
			<li class="component-radio">
				<input type="radio" name="chkimg" id="chkimg_4" />
				<label for="chkimg_4">
					<img src="images/dummy.jpg" />
					<i class="glyphicon glyphicon-ok"></i>
					<span class="dim"></span>
				</label>
			</li>
			<li class="component-radio">
				<input type="radio" name="chkimg" id="chkimg_5" />
				<label for="chkimg_5">
					<img src="images/dummy.jpg" />
					<i class="glyphicon glyphicon-ok"></i>
					<span class="dim"></span>
				</label>
			</li>
			<li class="more">
				<i class="glyphicon glyphicon-ok"></i>
			</li>


		</ul>
	</div>
</div>
<div class="instargram share-wrap">
	<h3 class="title">instagram</h3>
	<div class="contents">
		<ul class="scroll-wrap">


			<li class="component-radio">
				<input type="radio" name="chkimg" id="chkimg_6" />
				<label for="chkimg_6">
					<img src="images/dummy.jpg" />
					<i class="glyphicon glyphicon-ok"></i>
					<span class="dim"></span>
				</label>
			</li>
			<li class="component-radio">
				<input type="radio" name="chkimg" id="chkimg_7" />
				<label for="chkimg_7">
					<img src="images/dummy.jpg" />
					<i class="glyphicon glyphicon-ok"></i>
					<span class="dim"></span>
				</label>
			</li>
			<li class="component-radio">
				<input type="radio" name="chkimg" id="chkimg_8" />
				<label for="chkimg_8">
					<img src="images/dummy.jpg" />
					<i class="glyphicon glyphicon-ok"></i>
					<span class="dim"></span>
				</label>
			</li>
			<li class="component-radio">
				<input type="radio" name="chkimg" id="chkimg_9" />
				<label for="chkimg_9">
					<img src="images/dummy.jpg" />
					<i class="glyphicon glyphicon-ok"></i>
					<span class="dim"></span>
				</label>
			</li>
			<li class="component-radio">
				<input type="radio" name="chkimg" id="chkimg_10" />
				<label for="chkimg_10">
					<img src="images/dummy.jpg" />
					<i class="glyphicon glyphicon-ok"></i>
					<span class="dim"></span>
				</label>
			</li>
			<li class="more">
				<i class="glyphicon glyphicon-ok"></i>
			</li>

			
		</ul>
	</div>
</div>